# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
!/PoseidonAI-darwin-x64/
!/package-lock.json
!/package-lock.json
PoseidonAI-darwin-x64/Electron.dSYM/
PoseidonAI-darwin-x64/LICENSE
PoseidonAI-darwin-x64/LICENSES.chromium.html
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Frameworks/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Info.plist
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/MacOS/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/PkgInfo
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/am.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/.editorconfig
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/.gitignore
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/README.md
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/angular.json
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/browserslist
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/e2e/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/karma.conf.js
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/main.js
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/package-lock.json
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/package.json
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/src/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/tsconfig.app.json
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/tsconfig.json
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/tsconfig.spec.json
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/app/tslint.json
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ar.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/bg.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/bn.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ca.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/cs.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/da.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/de.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/el.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/electron.icns
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/en.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/en_GB.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/es.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/es_419.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/et.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/fa.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/fi.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/fil.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/fr.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/gu.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/he.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/hi.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/hr.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/hu.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/id.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/it.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ja.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/kn.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ko.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/lt.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/lv.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ml.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/mr.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ms.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/nb.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/nl.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/pl.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/pt_BR.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/pt_PT.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ro.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ru.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/sk.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/sl.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/sr.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/sv.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/sw.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/ta.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/te.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/th.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/tr.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/uk.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/vi.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/zh_CN.lproj/
PoseidonAI-darwin-x64/PoseidonAI.app/Contents/Resources/zh_TW.lproj/
PoseidonAI-darwin-x64/version
