
<p>Sensor Data</p>
<mat-card>
    <!-- <mat-form-field>
        <input matInput [(ngModel)]="answer" placeholder="test button">
    </mat-form-field> -->

    <!-- <br> -->

     <button mat-raised-button (click)="doGet()">click me</button>
    <p>graph</p>
    <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [legendSettings]='legendSettings' [title]='title'[crosshair]='crosshair' [tooltip]='tooltip'>
      <e-series-collection>
        <e-series [dataSource]='chartData' type='Line' xName='date' yName='waterTemp' name='Water Temperature' [marker]='marker'></e-series>
        <e-series [dataSource]='chartData' type='Line' xName='date' yName='airTemp' name='Air Temperature' [marker]='marker'></e-series>
      </e-series-collection>
    </ejs-chart>
<!--    <mat-progress-spinner  [mode]="'indeterminate'"> </mat-progress-spinner>-->

</mat-card>
