<!-- <header>
    <div class="container">
      <a routerLink="/" class="logo">POSEIDON AI</a>
      <nav>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/graphs">Graphs</a></li>
          <button mat-button>My Button</button>
        </ul>
      </nav>
    </div>
  </header> -->
<mat-toolbar color="primary">
        <mat-toolbar-row>
            <span> Poseidon AI</span>
            <span><img src="/../assets/images/logo.png" class="img-fluid"></span>
            <span class="example-spacer"></span>

            <button mat-button routerLink="/">Home</button>
            <button mat-button routerLink="/images">Images</button>
<!--            <button mat-button routerLink="/graphs">Graphs</button>-->
        </mat-toolbar-row>
        </mat-toolbar>
